aaiss.ceit-ssc.ir {
    @statics path /static/* /media/*
    @backend path /admin* /api*
    @frontend not path /static/* /admin* /api* /media*

    handle @statics {
        root * /
        file_server
    }

    handle @backend {
        reverse_proxy backend:6446
    }

    # TODO: dockerize the frontend project to be able to build the dist directory automatically
    handle @frontend {
        root * /dist
        try_files {path} /index.html
        file_server
    }

    log {
        level error
        output stdout
    }
}

www.aaiss.ceit-ssc.ir {
    redir https://aaiss.ceit-ssc.ir{uri} permanent
}

autaaiss.com, www.autaaiss.com {
    redir https://aaiss.ceit-ssc.ir{uri} permanent
}
