services:
  migrate_db:
    build:
      context: ./backend
    command: ./manage.py migrate
    volumes:
      - ./backend/data:/backend-aaiss/data

  backend:
    depends_on:
      migrate_db:
        condition: service_completed_successfully
    build:
      context: ./backend
    command: sh -c "python manage.py collectstatic --noinput && gunicorn aaiss_backend.wsgi:application --bind 0.0.0.0:6446"
    env_file:
      - ./.env
    environment:
      SECRET_KEY: ${SECRET_KEY}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      ZIFY_AUTH: ${ZIFY_AUTH}
      SMS_KEY: ${SMS_KEY}
      SMS_LINE_NUMBER: ${SMS_LINE_NUMBER}
    volumes:
      - ./backend/data:/backend-aaiss/data
      - ./backend/static:/backend-aaiss/static
      - ./backend/media:/backend-aaiss/media
    expose:
      - 6446
    healthcheck:
      test: [ "CMD", "curl", "localhost:6446/admin" ]
      timeout: 2s
      retries: 10

  frontend:
    build:
      context: ./frontend
    volumes:
      - static_files:/run/dist
    ports:
      - "8080:8080"

  caddy:
    depends_on:
      backend:
        condition: service_healthy
      frontend:
        condition: service_completed_successfully
    image: focker.ir/caddy:2.7.3
    volumes:
      - ./deployment/caddy:/etc/caddy
      - ./backend/static:/static
      - ./backend/media:/media
      - static_files:/dist:ro
      - caddy_data:/data/caddy
    ports:
      - "80:80"
      - "443:443"

volumes:
  caddy_data:
  static_files:
