aaiss.adibov.ir {
	@statics {
		path /static/*
	}
	@backend {
		not path /static/*
	}

	file_server @statics {
		root /
	}

	reverse_proxy @backend {
		to web:6446
	}

	log {
		level info
		output stdout
	}
}

www.aaiss.adibov.ir {
	redir https://aaiss.adibov.ir{uri}
}
