aaiss.adibov.ir {
	@statics {
		path /static/*
	}
	@backend {
		path /admin* /api*
	}
	@frontend {
	    not path /static/* /admin* /api*
	}

	file_server @statics {
		root /
	}

	reverse_proxy @backend {
		to web:6446
	}

    handle @frontend {
        # TODO: dockerize the frontend project to be able to build the dist directory automatically
        root * /dist
        try_files {path} /index.html
        file_server
    }

	log {
		level info
		output stdout
	}
}

www.aaiss.adibov.ir {
	redir https://aaiss.adibov.ir{uri}
}
