.presenter-card {
  transition: all 0.2s;
}

.presenter-card:hover {
  transform: scale(1.03);
}

.MuiCard-root {
  max-width: 260px !important;
  min-width: 260px !important;
}

.presenter-card > div {
  height: 100% !important;
}

.presenter-card .MuiCardContent-root {
  height: 100% !important;
}

.presenter-card .MuiCardActions-root {
  margin-top: 0 !important;
}