@keyframes animateFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.presenters-container {
  /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    justify-items: center;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.5); */
  animation: animateFromTop 1s ease-in-out;
}
