#loading {
    text-align: center;
}

.table-container {
    background-color: var(--background-color-lighter-40-glassy);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 2px solid var(--background-color-lighter-40-glassy);
    padding: 0 1rem 1rem;
    box-sizing: border-box;
}

.table-container h3 {
    color: var(--light-text-color);
    font-weight: bold;
    font-size: x-large;
}

.MuiTableContainer-root {
    border-radius: 10px;
}

section, table {
    width: 100%;
}

table {
    border-radius: 10px;
}

table td, table th {
    text-align: center !important;
    vertical-align: middle !important;
}

table th {
    font-size: medium !important;
    font-weight: bolder !important;
}

tr {
    transition: background-color .07s;
    background-color: var(--background-color-lighter-80);
}

table tbody tr:nth-child(even), table thead tr {
    background-color: var(--background-color-lighter-60);
}

tbody tr.MuiTableRow-root:hover {
    cursor: pointer;
    color: white !important;
    background-color: var(--dark-text-color-lighter-20);
}

table {
    border-collapse: collapse;
}

table, th, td {
    outline: 1px var(--background-color-lighter-40) solid !important;
}

td {
    padding: 0.3rem;
    max-width: 50vw;
}

h3 {
    text-align: center;
    margin: 0;
    padding: 1rem 0;
}

@media only screen and (max-width: 850px) {
    .table-container {
        font-size: 3vw;
    }
}
