.presenter-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0,0,0);
  text-align: center;
  padding: 1rem;
  margin: 2rem;
  font-size: 15px;
}

.presenter-card-name {
  text-align: center;
}