.team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
}

.team-people-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* padding: 2rwe; */
}