:root {
  /*primary color*/
  --primary-color: #64a1e8;

  /*secondary color*/
  --accent-color: #c4c7f2;
  --accent-color-light-10: #eeeffb;
  --accent-color-dark-30: #4750d6;

  /*warn color*/
  --warn-color: #ec6803;

  /*background*/
  --background-color: #0a0f26;
  --background-color-lighter-20: #0c1940;
  --background-color-lighter-40: #354fc8;
  --background-color-lighter-40-glassy: rgba(53, 79, 200, 0.4);
  --background-color-lighter-60: #7688e0;
  --background-color-lighter-80: #d4daf4;
  --background-color-lighter-90: #fdfdfe;

  /*text*/
  --light-text-color: #fff;
  --light-text-color-lighter: rgb(189, 196, 208);
  --dark-text-color: #000;
  --dark-text-color-lighter-20: #333;
}
