html,
body {
  margin: 0;
  height: 100%;
}

html {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  background-image: url(/src/assets/background.png);
  background-color: var(--background-color);
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding-top: 120px;
  overflow-y: auto;
  overflow-x: hidden;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  width: 100vw;
  z-index: 2;
}

.nav .backdrop-color {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: var(--background-color-lighter-20);
  opacity: 0.8;
}

.nav-item-container {
  width: 90%;
  height: 100%;
}

.nav-item-container .MuiButton-root {
  color: var(--primary-color);
}

.nav-item-container .MuiButton-contained {
  color: var(--background-color-lighter-20);
  background-color: var(--primary-color);
}

.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  /*forces AAISS logo to be white*/
  filter: brightness(0) saturate(100%) invert(97%) sepia(8%) saturate(67%) hue-rotate(32deg) brightness(116%)
    contrast(100%);
}

.logo-container {
  width: 10%;
  height: 100%;
}
.mobile-nav-container {
  display: none;
  brgba(255, 255, 255, 0.5)nd-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 60px;
}
.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.nav-item-container-mobile {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-mobile-list {
  list-style: none;
}
@media screen and (max-width: 1135px) {
  .nav {
    display: none;
  }
  .mobile-nav-container {
    display: flex;
    position: fixed;
    padding-top: 2rem;
    padding-bottom: 2rem;
    top: 0;
    flex-direction: column;
  }
}
