#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: blue; */
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cms {
  font-size: 3.2em;
  line-height: 1.1;
  /* color: #747bff; */
  padding: 300px
}


.aaiss {
  width: 10%;
  height: 10%;
  padding-right: 50px;
}