#root {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  top:0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}
.nav-item-container{
  width: 1200px;
}

.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container{
  width: 200px;
  height: 100%;

}