@import "src/css/Theme.css";

:root {
  font-family:"Times New Roman",Georgia,Serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root, body {
  background : linear-gradient(#0A0F26 , #0A0F26);
}
